<?xml version="1.0" encoding="utf-8"?><!--
Copyright (C) 2016 The Android Open Source Project

   Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android_n.egg">

    <!--    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:icon="@drawable/n_icon"
            android:label="@string/n_app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <!-- Long press the QS tile to get here -->
        <activity
            android:name="com.android_n.egg.neko.NekoLand"
            android:icon="@drawable/n_icon"
            android:label="@string/n_app_name"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- This is where the magic happens -->
        <service
            android:name="com.android_n.egg.neko.NekoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Used to show over lock screen -->
        <activity
            android:name="com.android_n.egg.neko.NekoLockedActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />

        <!-- Used to enable easter egg -->
        <activity
            android:name="com.android_n.egg.neko.NekoActivationActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <!-- The quick settings tile, disabled by default -->
        <service
            android:name="com.android_n.egg.neko.NekoTile"
            android:enabled="false"
            android:icon="@drawable/stat_icon"
            android:label="@string/default_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
