[versions]
kotlin = "1.9.20"
# https://androidx.dev/storage/compose-compiler/repository
# https://maven.google.com/web/index.html?q=compose#androidx.compose.compiler:compiler
compose-kotlin-compiler = "1.5.4"
agp = "8.1.3"
hilt = "2.48.1"

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
hilt-android = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
#kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }

[libraries]
kotlinx-coroutines-android = "org.jetbrains.kotlinx:kotlinx-coroutines-android:1.7.3"
androidx-appcompat = "androidx.appcompat:appcompat:1.6.1"
androidx-core = "androidx.core:core-ktx:1.12.0"
androidx-activity = "androidx.activity:activity-ktx:1.8.0"
androidx-lifecycle-viewmodel = "androidx.lifecycle:lifecycle-viewmodel-ktx:2.6.2"
androidx-lifecycle-runtime = "androidx.lifecycle:lifecycle-runtime-ktx:2.6.2"
androidx-recyclerview = "androidx.recyclerview:recyclerview:1.3.2"
androidx-dynamicanimation = "androidx.dynamicanimation:dynamicanimation:1.0.0"
androidx-annotation = "androidx.annotation:annotation:1.7.0"
androidx-preference = "androidx.preference:preference-ktx:1.2.1"
androidx-constraintlayout = "androidx.constraintlayout:constraintlayout:2.1.4"
androidx-browser = "androidx.browser:browser:1.5.0"
androidx-window = "androidx.window:window:1.1.0"
google-material = "com.google.android.material:material:1.11.0-beta01"
androidx-startup = "androidx.startup:startup-runtime:1.1.1"

androidx-activity-compose = "androidx.activity:activity-compose:1.8.0"
androidx-lifecycle-compose = "androidx.lifecycle:lifecycle-runtime-compose:2.6.2"
androidx-compose-bom = "androidx.compose:compose-bom:2023.10.01"
androidx-compose-ui = { module = "androidx.compose.ui:ui" }
androidx-compose-ui-util = { module = "androidx.compose.ui:ui-util" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview" }
androidx-compose-material = { module = "androidx.compose.material:material" }
androidx-compose-material3 = { module = "androidx.compose.material3:material3" }

hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }

blurhash-android = "io.github.hushenghao:blurhash-android:1.0.1"
viewbinding-delegate = "com.github.kirich1409:viewbindingpropertydelegate-noreflection:1.5.9"
squareup-okio = "com.squareup.okio:okio:3.6.0"
io-coil = "io.coil-kt:coil:2.5.0"
io-coil-compose = "io.coil-kt:coil-compose:2.5.0"
free-reflection = "com.github.tiann:FreeReflection:3.2.0"
squareup-leakcanary = "com.squareup.leakcanary:leakcanary-android-startup:2.12"
nanohttpd = "org.nanohttpd:nanohttpd:2.3.1"

junit = "junit:junit:4.13.2"
androidx-test-core = "androidx.test:core-ktx:1.5.0"
androidx-test-ext = "androidx.test.ext:junit-ktx:1.1.5"
androidx-expresso-core = "androidx.test.espresso:espresso-core:3.5.1"
androidx-expresso-contrib = "androidx.test.espresso:espresso-contrib:3.5.1"
androidx-expresso-intents = "androidx.test.espresso:espresso-intents:3.5.1"

[bundles]
android-test = ["androidx-test-core", "androidx-test-ext", "androidx-expresso-core",
    "androidx-expresso-contrib", "androidx-expresso-intents"]
