[versions]
kotlin = "1.9.23"
ksp = "1.9.23-1.0.19"
# https://developer.android.com/jetpack/androidx/releases/compose-kotlin
# https://maven.google.com/web/index.html?q=compose#androidx.compose.compiler:compiler
compose-kotlin-compiler = "1.5.11"
agp = "8.3.1"
hilt = "2.51"
# https://google.github.io/accompanist
accompanist = "0.34.0"
lifecycle = "2.7.0"
coil = "2.6.0"

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
hilt-android = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }

[libraries]
kotlinx-coroutines-android = "org.jetbrains.kotlinx:kotlinx-coroutines-android:1.8.0"
androidx-appcompat = "androidx.appcompat:appcompat:1.6.1"
androidx-core = "androidx.core:core-ktx:1.12.0"
androidx-activity = "androidx.activity:activity-ktx:1.8.2"
androidx-lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "lifecycle" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
androidx-recyclerview = "androidx.recyclerview:recyclerview:1.3.2"
androidx-dynamicanimation = "androidx.dynamicanimation:dynamicanimation:1.0.0"
androidx-annotation = "androidx.annotation:annotation:1.7.1"
androidx-preference = "androidx.preference:preference-ktx:1.2.1"
androidx-constraintlayout = "androidx.constraintlayout:constraintlayout:2.1.4"
androidx-browser = "androidx.browser:browser:1.8.0"
androidx-window = "androidx.window:window:1.2.0"
google-material = "com.google.android.material:material:1.11.0"
androidx-startup = "androidx.startup:startup-runtime:1.1.1"

androidx-activity-compose = "androidx.activity:activity-compose:1.8.2"
androidx-lifecycle-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
androidx-viewmodel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
androidx-compose-bom = "androidx.compose:compose-bom:2024.02.02"
androidx-compose-ui = { module = "androidx.compose.ui:ui" }
androidx-compose-ui-util = { module = "androidx.compose.ui:ui-util" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview" }
androidx-compose-material = { module = "androidx.compose.material:material" }
androidx-compose-material3 = { module = "androidx.compose.material3:material3", version = "1.3.0-alpha03" }
androidx-compose-material-icons = { module = "androidx.compose.material:material-icons-extended" }
androidx-compose-constraintlayout = "androidx.constraintlayout:constraintlayout-compose:1.0.1"
accompanist-drawablepainter = { module = "com.google.accompanist:accompanist-drawablepainter", version.ref = "accompanist" }

hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }

dionsegijn-konfetti = "nl.dionsegijn:konfetti-compose:2.0.4"
blurhash-android = "io.github.hushenghao:blurhash-android:1.0.1"
blurhash-painter = "com.github.wajahat-iqbal:BlurHashPainter:1.2"
viewbinding-delegate = "com.github.kirich1409:viewbindingpropertydelegate-noreflection:1.5.9"
squareup-okio = "com.squareup.okio:okio:3.9.0"
io-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
io-coil-svg = { module = "io.coil-kt:coil-svg", version.ref = "coil" }
io-coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
free-reflection = "com.github.tiann:FreeReflection:3.2.0"
squareup-leakcanary = "com.squareup.leakcanary:leakcanary-android-startup:2.13"
nanohttpd = "org.nanohttpd:nanohttpd:2.3.1"

# Dependencies of the included build-logic
android-gradle-plugin = { module = "com.android.tools.build:gradle", version.ref = "agp" }
kotlin-gradle-plugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
android-tools-sdk-common = "com.android.tools:sdk-common:31.3.1"

junit = "junit:junit:4.13.2"
androidx-test-core = "androidx.test:core-ktx:1.5.0"
androidx-test-ext = "androidx.test.ext:junit-ktx:1.1.5"
androidx-expresso-core = "androidx.test.espresso:espresso-core:3.5.1"
androidx-expresso-contrib = "androidx.test.espresso:espresso-contrib:3.5.1"
androidx-expresso-intents = "androidx.test.espresso:espresso-intents:3.5.1"

[bundles]
android-test = ["androidx-test-core", "androidx-test-ext", "androidx-expresso-core",
    "androidx-expresso-contrib", "androidx-expresso-intents"]
