<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:exported="true"
            android:icon="@drawable/j_platlogo"
            android:label="@string/j_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <!-- started from ... somewhere -->
        <activity
            android:name=".BeanBag"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/j_redbean2"
            android:label="@string/j_egg_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <!-- Beans in space -->
        <service
            android:name=".BeanBagDream"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/j_redbean2"
            android:label="@string/j_jelly_bean_dream_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>