<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:exported="true"
            android:icon="@drawable/i_platlogo_rectangle"
            android:label="@string/i_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <!-- started from ... somewhere -->
        <activity
            android:name=".Nyandroid"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/i_nyandroid04"
            android:label="@string/i_egg_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>
</manifest>