<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android_s_beta.egg">

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:icon="@drawable/platlogo_s"
            android:theme="@android:style/Theme.DeviceDefault.Wallpaper.NoTitleBar" />
    </application>

</manifest>