<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:exported="true"
            android:icon="@drawable/h_platlogo"
            android:label="@string/h_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />
    </application>

</manifest>