<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- used for cat notifications -->
    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME" />

    <!-- used to save cat images -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- controls -->
    <uses-permission android:name="android.permission.BIND_CONTROLS" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".PlatLogoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:icon="@drawable/t_platlogo"
            android:label="@string/t_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <!-- Android N easter egg bits -->
        <activity
            android:name=".neko.NekoLand"
            android:exported="true"
            android:label="@string/t_app_name"
            android:theme="@android:style/Theme.Material.NoActionBar"
            tools:targetApi="30" />

        <!-- This is where the magic happens -->
        <service
            android:name=".neko.NekoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="30" />
        <!-- Used to enable easter egg -->
        <activity
            android:name=".ComponentActivationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <service
            android:name=".neko.NekoControlsService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/t_ic_fullcat_icon"
            android:label="@string/t_egg_name"
            android:permission="android.permission.BIND_CONTROLS"
            tools:targetApi="30">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>

        <!-- Android S easter egg bits -->

        <!-- List of all system theme colors on the device. -->
        <activity
            android:name=".widget.PaintChipsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:enabled="false"
            android:exported="true"
            android:label="@string/t_egg_name"
            android:theme="@android:style/Theme.Material.Wallpaper.NoTitleBar"
            tools:targetApi="31" />

        <!-- Homescreen widget also showing paint chips (may be affected by the exact position in
             the workspace) -->
        <receiver
            android:name=".widget.PaintChipsWidget"
            android:enabled="false"
            android:exported="true"
            android:label="@string/t_egg_name"
            tools:targetApi="31">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/t_paint_chips_widget_info" />
        </receiver>
    </application>

</manifest>
