<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PlatLogoActivity$Froyo"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <activity
            android:name=".PlatLogoActivity$Eclair"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <activity
            android:name=".PlatLogoActivity$Donut"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <activity
            android:name=".PlatLogoActivity$Cupcake"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <activity
            android:name=".PlatLogoActivity$PetitFour"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <activity
            android:name=".PlatLogoActivity$Base"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />
    </application>
</manifest>
